@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import "bootstrap-social.less";

body {
  height: auto; /*if more info comes on the page, it will stretch down*/
  margin: 0 auto; /*this will cause the div to be in the center*/
  width: auto;

}



/* Elastic stroke CSS + SVG Header */
#header {
  background: #082330;
  background-size: .12em 100%;
  font: 16em/1 Arial;
  
}

.text--line {
  font-size: .5em;
}

svg {
display: block;
margin: 50px auto;
width: 30%;
height: 30%;
}

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 7% 28%;
  stroke-width: 3px;
  -webkit-animation: stroke-offset 9s infinite linear;
          animation: stroke-offset 9s infinite linear;
}
.text-copy:nth-child(1) {
  stroke: #360745;
  stroke-dashoffset: 7%;
}
.text-copy:nth-child(2) {
  stroke: #D61C59;
  stroke-dashoffset: 14%;
}
.text-copy:nth-child(3) {
  stroke: #E7D84B;
  stroke-dashoffset: 21%;
}
.text-copy:nth-child(4) {
  stroke: #EFEAC5;
  stroke-dashoffset: 28%;
}
.text-copy:nth-child(5) {
  stroke: #1B8798;
  stroke-dashoffset: 35%;
}

@-webkit-keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}

@keyframes stroke-offset {
  50% {
    stroke-dashoffset: 35%;
    stroke-dasharray: 0 87.5%;
  }
}
/* End Header */

/* Nav Bar  */

#navbar{
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  position: fixed;
  overflow: hidden;
  
}

/* Main Content  */

.main h5{
  text-align: center;
  vertical-align: middle;
  /* line-height: 90px; */
  margin: 30px 200px 0 200px; 
}

.main p{
  margin: 30px 200px 0 200px; 
}

.picture{ 
  margin: 50px 0 50px 0;
}
.picture img {
  
  width:15%; 
  height: auto;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}




h1 {
  font-size: 2em;
  margin: 0.67em 0; }

